.vscode/**
.git/**
.gitignore
.vscodeignore
node_modules/**
src/**
tsconfig.json
webpack.config.js
vsc-extension-quickstart.md
*.bat
*.js
*.env
!dist/**
!package.json
!README.md
!LICENSE.md
*.vsix
*.docx
*.txt
